body {
    background-color: rgba(243, 244, 255, 0.9);
    height: 250vh;
    margin: 0;
    padding: 0;
}
ul {list-style-type: none;}

.banner {
    background-image: url(icons/mountains.png);
    /* height: 20%; */
    height: 292px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_container {
    margin: 0;
    height: 90%;
    width: 70%;
}

.greeting {
    width: 62%;
    height: 100%;
    float: left;
    /* background-color: coral; */
}

.greeting_box {
    background: rgba(243, 244, 255, 0.9);
    width: 100%;
    height: 75%;
    float: left;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_box {
    /* background-color: blueviolet; */
    width: 95%;
    height: 90%;
}

.greeting_info_box {
    height: 50%;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.2px;
    color: #2B2B43;
    /* background-color:rgb(105, 123, 255); */
    /* vertical-align: bottom; */
    position: relative;
}

.good_morning {
    margin: 0;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    color: #2B2B43;
    position: relative;
    top: 20px;
    left: 0;
}

.upcoming {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #545563;
    position: relative;
    top: 30px;
    left: 0;
}

.interview_info_box {
    height: 50%;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1px;
    color: #2B2B43;
}

.interview_box {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #545563;
    width: 100%;
    height: 50%;
    float:left;
    display: flex;
    align-items: center;
}

.interview_text {
    width: 85%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.interview_button {
    width: 10%;
    height: 80%;
    /* background-color: wheat; */
    float: right;
    background: #697BFF;
    border-radius: 8px;
    color:rgba(243, 244, 255, 0.9);
    font-style: bold;
}

.button_container {
    margin-top: 3.2%;
    width: 100%;
    height: 20%;
    float: left;
    /* background-color: rgb(241, 239, 239); */
}

.button_div {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    float: left;
}

.button {
    width: 95%;
    height: 90%;
    color: rgb(105, 123, 255);
    background: rgba(243, 244, 255, 0.9);
    box-shadow: 0px 1px 3px rgba(19, 10, 46, 0.13);
    border-radius: 8px; 
    border-color: rgba(243, 244, 255, 0.9);
    /* font-family: Nunito; */
    font-style: normal;
    font-weight: bold;
    font-size: 14px; 
}

#button_left {
    float: left;
}

#button_right {
    float: right
}

.calendar {
    background: rgba(243, 244, 255, 0.9);
    width: 31%;
    height: 100%;
    float: left;
    border-radius: 8px;
    margin-left: 5%;
    position: relative;
}

.calendar_date {
    position: relative;
    top: 20px;
    width: 100%;
    height: 14%;
    /* background-color:rgb(105, 123, 255); */
}

.month {
    width: 45%;
    margin-right: 5%;
    height: 100%;
    float: left;
    text-align: right;
    color: #666;
    font-weight: 600;
}

.year {
    width: 45%;
    margin-left: 5%;
    height: 100%;
    float: left;
    text-align: left;
    color: #666;
    font-weight: 600;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 60%;
    height:90%;
}

.card_stripe {
    width: 100%;
    height:200px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 25px;
}

.card_container {
    width: 33.33%;
    height: 80%;
    float: left;
    position: relative;
    top: 5%;
    bottom: 0;
}
.job_card {
    width: 90%;
    height: 80%;
    border-radius: 10px;
}

.label {
    /* height: 2%; */
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    width: 92%;
    float: left;
}

.dropdown {
    width: 4%;
    float: left;
    /* do size later once icons downloaded */
}

.card {
    padding: 2%;
    width: 25%;
    height: 80%;
    color: coral;
}

.weekdays {
  margin-left: 20px;
  padding: 2px 0;
}

.weekdays li {
  display: inline-block;
  width: 12%;
  color: #666;
  text-align: center;
  margin-bottom: 0px;
}

.days {
  /* padding: 10px 0; */
  padding-left: 0px;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12%;
  text-align: center;
  margin-bottom: 12px;
  font-size:13px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  color: #19181A;
  height: 20px;
}

.days li .active {
  padding: 8px;
  color: #7047EB;
  background: rgba(224, 223, 223, 0.9);
  border-radius: 40px;
}

.days li .today {
    padding: 8px;
    color: rgba(243, 244, 255, 0.9);
    background: rgba(105, 123, 255, 0.9); 
    border-radius: 40px;
}
